html,body {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
}

.editor {
    width: inherit;
    height: inherit;
    margin: 4px;
}

.editor:focus {
    outline: inherit;
}